/Aula 28-09(Vt-Mt)/CadDados/dist/
/ExibicaoNome/build/
/ExibicaoNome/dist/
/ExibicaoNome/nbproject/private/
/ExibicaoPares/build/
/ExibicaoPares/nbproject/private/
/MediaAluno/build/
/MediaAluno/nbproject/private/
/Multipicacao/build/
/Multipicacao/nbproject/private/
/TotalVetor/build/
/TotalVetor/nbproject/private/
/VetorDecrescente/build/
/VetorDecrescente/nbproject/private/
